#main{
    height: 600px;
    width: 100%;
    background: url(images/bees1.png);
    background-size: cover;
}
a{
    color: black !important;
    text-decoration: none !important;
}
#but{
    width: 150px;
    border-radius: 37px;
    height: 50px;
    background-color: #D96226;
    border: none;
}
#main2{
    height:2000px ;
    width: 100%;
    background: url(images/bees1.png);
    background-size: cover;
}
#nav{
    background-color: ;
}
#hh2{
    /* border: 1px solid black; */
    height: 400px;
}
#about{
    font-size: 40pt;
}
#cards{
    background-color: white;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
::placeholder{
    /* color: white; */
}
input{
    width: 350px;
    height: 60px;
}
#mm{
    font-size: 50pt;
}
textarea{
    resize: none;
    width: 350px;
    height: 60px;
}
li{
    list-style-type: none;
}
#kjkk{
    width: 200px;
    height: 60px !important;
}